$aside-background: #141a26;
$aside-lg-width: 18rem;

.wrapper {
    height: 100vh;
    .asideMenu {
        background-color: $aside-background;
        height: 100%;
        width: 100%;
        position: fixed;
        transition: 0.3s all ease;
        left: -100%;
        top: 0;
        @include for-tablet-portrait-up {
            left: -$aside-lg-width;
            width: $aside-lg-width;
        }
    }
    .homeWrapper {
        height: 100%;
        transition: 0.3s all ease;
        width: 100%;
    }
    &.asideOpen {
        .asideMenu {
            left: 0;
        }
        .homeWrapper {
            margin-left: $aside-lg-width;
            width: calc(100% - $aside-lg-width);
        }
    }
}
