$aside-background: #141a26;
$aside-lg-width: 18rem;

.wrapper {
    height: 100vh;
    .asideMenu {
        background-color: $aside-background;
        height: 100%;
        left: -100%;
        position: fixed;
        top: 0;
        transition: 0.3s all ease;
        width: 100%;
        @include for-tablet-portrait-up {
            left: -$aside-lg-width;
            width: $aside-lg-width;
        }
    }
    .homeWrapper {
        height: 100%;
        transition: 0.3s all ease;
        width: 100%;
    }
    .menuHamburger {
        $menu-btn-padding: 0.5rem 0.9rem 0.9rem 0;
        color: $color-text-gray;
        cursor: pointer;
        font-size: 1.5rem;
        padding: $menu-btn-padding;
        position: absolute;
        right: 0;
        &:hover {
            color: $color-white;
        }
    }
    &.asideOpen {
        .asideMenu {
            left: 0;
        }
        .homeWrapper {
            margin-left: $aside-lg-width;
            width: calc(100% - 18rem);
        }
    }
}

main {
    padding: 1rem;
}
