@import '../../../node_modules/tailwindcss/tailwind.css';
@import './abstracts/css/variables.css';
@import './components/buttons.css';

html {
    font-size: 14px;
}
body {
    overflow: hidden;
}
#cr-app {
    background-color: #fdfdfd;
}
