@import '../../../node_modules/tailwindcss/tailwind.css';
@import './abstracts/css/variables.css';
@import './components/buttons.css';

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-size: 13px;
}
body {
    overflow: hidden;
}
#cr-app {
    background-color: #fdfdfd;
}
